/******************************
 hero 
 *******************************/
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 120px;
}

@media screen and (max-width: 1023px) {
    .hero {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        padding-left: 60px;
        padding-right: 60px;
    }
}

.hero__video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero__video::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.hero__video video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* hero wrapper */
.hero__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.hero__text {

}

.hero__image {
}


.hero__title {
    color: var(--color-light);
    text-transform: uppercase;
}

.hero__title span {
    color: var(--color-secondary);
}

.hero__description {
    color: var(--color-light);
    margin-bottom: 40px;
}

.hero__image img {
    max-width: 540px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1023px) {
    .hero__text {
        width: 100%;
    }
    .hero__image {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .hero__text {
        width: 50%;
    }
    .hero__image {
        width: 50%;
    }
}

/* end hero wrapper */

/******************************* 
end hero 
*******************************/