/******************************
 hero 
 *******************************/
.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 120px;
    display: flex;
    /* height: fit-content; */
}

@media screen and (max-width: 1023px) {
    .hero {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        padding-left: 60px;
        padding-right: 60px;
    }
}

.hero__video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero__video::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.hero__video video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* hero wrapper */
.hero__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.hero__text {

}

.hero__image {
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero__title {
    color: var(--color-light);
    text-transform: uppercase;
}

.hero__title span {
    color: var(--color-secondary);
}

.hero__description {
    color: var(--color-light);
    margin-bottom: 40px;
}

.hero__image img {
    max-width: 540px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1023px) {
    .hero__text {
        width: 100%;
    }
    .hero__image {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .hero__text {
        width: 50%;
    }
    .hero__image {
        width: 50%;
    }
}

/* end hero wrapper */

/******************************* 
end hero 
*******************************/

/******************************* 
services
*******************************/

.services {
    position: relative;
    width: 100%;
}

.services__item {
    background-color: var(--color-dark);
    padding-top: 40px;
    padding-bottom: 40px;
}

.service__item__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.services__text {
    padding: 60px;
}

.services__item:nth-child(even) .service__item__wrapper {

    flex-direction: row-reverse;
}

/* .services__item:nth-child(even) .service__item__wrapper .services__text {

    padding-left: 60px;
} */


.services__image {
    width: 50%;
}

.services__text {
    position: relative;
    width: 50%;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .services__image, .services__text {
        width: 100%;
    }
}

.services__title {
    color: var(--color-secondary);
    text-transform: uppercase;
    margin-bottom: 40px;
}

.services__description {
    color: var(--color-light);
    margin-bottom: 40px;
}

.services__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__image img {
    max-width: 420px;
    width: 100%;
    height: auto;
}

.service__item__wrapper .geometric-element {
    position: absolute;
    right: 20px;
    top: 0;
    /* z-index: -1; */
}
/******************************* 
end services
*******************************/

/******************************* 
Card blog
*******************************/
.blog {
    position: relative;
    width: 100%;
    background-color: var(--color-dark);
}

.blog__wrapper {
    display: flex;
    gap: 20px;
}

.card {
    border: 1px solid var(--color-light);
    max-width: 320px;
    border-radius: 8px;
    overflow: hidden;
}

.card__header {
    position: relative;
    min-height: 240px;
    background: yellow;
}

.card__header img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card__info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 8px 20px;
    border-top-right-radius: 8px;
}

.card__info p {
    padding: 0; 
    margin: 0;
}

.card__content {
    padding: 30px 20px;
    color: var(--color-light);
}

.card__content > * {
    margin-bottom: 20px;
}

.card__content .button {
    display: inline-block;
    margin-bottom: 0;
}

/******************************* 
end Card blog
*******************************/


