@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
}

/* mobile e tablet < 1023px  */
/* desktop > 1024px  */


/* mobile e tablet */
@media screen and (max-width: 1023px) {
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 32px;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 48px;
    }
}

h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
